@font-face {
  font-family: "ALS Sector";
  src: url("../fonts/ALS-Sector-Bold.eot");
  src: local("ALS-Sector-Bold"), local("ALS-Sector-Bold"),
    url("../fonts/ALS-Sector-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ALS-Sector-Bold.woff") format("woff"),
    url("../fonts/ALS-Sector-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ALS Sector";
  src: url("../fonts/ALS-Sector-Regular.eot");
  src: local("ALS-Sector-Regular"), local("ALS-Sector-Regular"),
    url("../fonts/ALS-Sector-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ALS-Sector-Regular.woff") format("woff"),
    url("../fonts/ALS-Sector-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
h1,
h2,
h3,
h4,
label,
p,
span,
a,
button,
input,
a {
  padding: 0;
  margin: 0;
  font-family: "ALS Sector";
  font-weight: normal;
  font-style: normal;
  color: #193040;
}

h1,
h2,
h3,
h4,
p,
span,
a,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:focus,
a:active,
button,
button:focus,
button:active {
  outline: none !important;
}

button:focus {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button:active {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f8fcfe;
}

/*---------------------
          ОБЩИЕ
---------------------*/

p {
  font-size: 16px;
}

.widget__wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px rgba(167, 201, 223, 0.5);
  box-shadow: 0px 8px 16px rgba(167, 201, 223, 0.5);
  border-radius: 24px;
  padding: 12px 24px 24px 24px;
  width: 100%;
  max-width: 384px;
  min-height: 390px;
  /* min-height: 504px; */
  box-sizing: border-box;
  position: relative;
}

.widget__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.input__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.input__title p {
  font-size: 10px;
  letter-spacing: 0.02em;
  opacity: 0.75;
}

.input__title span {
  opacity: 0.25;
}

.btn__send {
  border: none;
  border-radius: 16px;
  height: 48px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 0px;
}

.btn__send span {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.btn__blue {
  background: #2595df;
}

.btn__green {
  background: #1ec038;
}

.btn__grey {
  background: #dde3e8;
}

.btn__black {
  background: #231f20;
}

.line__grey {
  background: rgba(25, 48, 64, 0.2);
  width: 100%;
  height: 1px;
}

.line_verticalBlue {
  background: rgba(37, 149, 223, 0.25);
  width: 1px;
  height: 16px;
}

.line_vertical {
  background: rgba(25, 48, 64, 0.1);
  height: 100%;
  width: 1px;
  position: relative;
}

.user__input {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid rgba(25, 48, 64, 0.1);
  border-radius: 8px;
  height: 48px;
  margin-bottom: 16px;
}

.user__input--m-b-0 {
  margin-bottom: 0px;
}

.user__input input {
  width: 100%;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 14px 10px 14px;
  z-index: 99;
  background: inherit;
  text-align: center;
  color: #526470;
}

.user__input .updateText {
  color: #526470;
  position: absolute;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.user__input .updateText span {
  opacity: 0.5;
}

.user__input input::-webkit-input-placeholder {
  color: #526470;
}

.user__input input::-moz-placeholder {
  color: #526470;
}

.user__input input:-moz-placeholder {
  color: #526470;
}

.user__input input:-ms-input-placeholder {
  color: #526470;
}

.startGif {
  width: 100%;
}

/*---------------------
        BUY
---------------------*/

.nf-form {
  width: 100%;
}

.nf-input-line {
  position: relative;
}

.nf-input-line:after {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e8eaec;
  top: 0px;
  transform: translateY(-100%);
}

.nf-input-line--bottom {
  margin-bottom: 16px;
}

.nf-input-line--bottom:after {
  bottom: 0px;
  top: auto;
  transform: translateY(100%);
}

.nf-buy__input {
  display: flex;
  width: 100%;
  height: 48px;
  border: 1px solid #d1d6d9;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  position: relative;
  margin-top: 4px;
}
.nf-buy__input input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  padding-left: 13px;
  color: rgba(0, 0, 0, 0);
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.nf-buy__input-box {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.nf-buy__input-currency {
  height: 100%;
  padding: 0px 12px;
  flex: none;
  border-left: 1px solid #d1d6d9;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nf-buy__input-currency p {
  color: #193040;
  opacity: 0.75;
  font-size: 16px;
  margin-right: 4px;
}

.nf-buy__input .updateText {
  position: absolute;
  left: 13px;
  color: #193040;
  font-size: 24px;
}

.nf-buy__input .updateText span {
  opacity: 0.5;
}

.buy__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buy__title p {
  font-size: 10px;
}

.buy__title p:first-child {
  color: #193040b2;
}

.buy__title-desc {
  color: #d1d6d9;
}

.buy__title-error {
  color: #e75f5f;
  display: none;
}

.buy__title-error--act {
  display: block;
}

.buy__title-error--act + .buy__title-desc {
  display: none;
}

.buy__title-ok {
  color: #1ec038;
  display: none;
}

.buy__title-ok--act {
  display: block;
}

.buy__hint-title {
  color: #193040;
  opacity: 0.75;
  font-size: 14px;
}

.buy__hint-box {
  display: flex;
  justify-content: center;
  padding: 13px 0px;
}

.buy__hint {
  position: relative;
  text-align: center;
  display: inline-block;
}

.buy__hint-icon-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  transform: translateX(100%);
  right: -23px;
  z-index: 2;
}

.buy__hint-icon {
  margin-right: 16px;
  position: relative;
}

.buy__hint-icon img {
  display: block;
  cursor: pointer;
}

.buy__hint-icon:last-child {
  margin-right: 0px;
}

.buy__hint-desc {
  position: absolute;
  width: 144px;
  padding: 8px;
  background: #daffe0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #193040;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  left: 50%;
  transform: translate(-50%, 100%);
  bottom: -5px;
  display: none;
}

.buy__hint-desc--orange {
  background: #FFF9D9;
}

.buy__hint-desc--blue {
  background: #E3F2FB;
  text-align: left;
}

.buy__hint-icon--act .buy__hint-desc {
  display: block;
}

.buy__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.buy__card img {
  margin-right: 10px;
  width: 37px;
}

.buy__card img:last-child {
  margin-right: 0;
}

.nf-btn {
  width: 100%;
  height: 48px;
  border: none;
  background: none;
  background: #2595df;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nf-btn--green {
  background: #1ec038;
}

.nf-btn--gray {
  background: #193040;
}

.nf-btn--disable {
  background: #e8eaec;
}

.nf-input-row {
  display: flex;
  width: 100%;
}

.nf-input-row button {
  margin-right: 21px;
}

.nf-input-row button:last-child {
  margin-right: 0px;
}

.widget__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.widget__header-back {
  color: #2595df;
  font-size: 16px;
  background: none;
  border: none;
}

.widget__header-menu {
  border: none;
  background: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: normal;
  position: relative;
  z-index: 102;
}

.widget__header-menu p {
  color: #d1d6d9;
  margin-top: -2px;
}

.widget__header-menu span {
  display: none;
  color: #d1d6d9;
  margin-top: -2px;
}

.widget__header-menu--act {
  opacity: 0.5;
}

.widget__header-menu--act p {
  display: none;
}

.widget__header-menu--act span {
  display: block;
  color: #193040;
}

.widget__header-menu--act svg path {
  fill: #193040;
}

.widget__header-menu svg {
  flex: none;
  display: block;
  margin-left: 14px;
  margin-top: 2px;
}

.widget-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #e3f2fb;
  z-index: 101;
  border-radius: 24px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  display: none;
}

.widget-menu--act {
  display: flex;
}

.widget-menu__btn:first-child {
  margin-top: 96px;
}

.widget-menu__btn {
  margin: auto;
  margin-top: 24px;
  max-width: 240px;
}

.widget-menu__link-list {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 10px;
  list-style: none;
}

.widget-menu__link {
  color: #2595df;
  letter-spacing: 0.02em;
  line-height: 24px;
  margin-top: 8px;
}

.widget-menu__link:first-child {
  margin-top: 0px;
}

.widget-menu__powered-box {
  width: 100%;
  border-top: 1px solid #d1d6d9;
  margin-top: auto;
  margin-bottom: 16px;
}

.widget-menu__powered {
  color: #8c979f;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 16px;
}

.widget-menu__powered a {
  color: #2595df;
}

.nf-input {
  display: flex;
  width: 100%;
  height: 48px;
  border: 1px solid #d1d6d9;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  position: relative;
  margin-top: 4px;
  font-size: 16px;
  color: #193040;
  letter-spacing: 0.02;
  padding: 0px 13px;
}

.nf-input::placeholder {
  color: #193040;
  opacity: 0.5;
}

.nf-input--password {
  letter-spacing: 10px;
  color: #526470;
  margin-bottom: 7px;
}

.nf-input--password::placeholder {
  text-align: center;
  letter-spacing: 0.02em;
}

.nf-input--m-b {
  margin-bottom: 24px;
}

.nf-input--email {
  text-align: center;
}

.nf-input--address {
  text-align: center;
}

.nf-input--verify {
  font-size: 24px;
  letter-spacing: 24px;
  padding-left: 24px;
  text-align: center;
}

.nf-widget-title {
  color: #193040;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.nf-widget-title--light {
  color: #526470;
}

.nf-widget-main-title {
  color: #193040;
  font-size: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 24px;
}

.nf-error-list {
  margin-right: 21px;
  flex: none;
  margin-top: 24px;
}

.nf-error-list__item {
  color: #526470;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
  list-style: none;
  margin-bottom: 4px;
}

.nf-error-list__item:last-child {
  margin-bottom: 0px;
}

.nf-error-list__item:before {
  content: "•";
  display: inline-block;
  margin-right: 2px;
}

.nf-error-list__item--red {
  color: #e75f5f;
}

.nf-error-list__item--light {
  color: #d1d6d9;
}

.massage__title {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.massage__desc {
  margin-bottom: 0px;
}

.massage__id {
  color: #8c979f;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  margin-top: 6px;
}

.massage__btn {
  margin-top: 32px;
}

.massage__link {
  letter-spacing: 0.02em;
  color: #2595df;
  text-align: center;
  line-height: 24px;
  margin: auto;
  margin-top: 24px;
  display: block;
}

.massage__ico img {
  display: block;
  margin-top: 12px;
  margin-bottom: 32px;
}

.massage__ico {
  display: flex;
  justify-content: center;
}

/*---------------------
          JOIN
---------------------*/

.join__describe {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 25px;
  text-align: center;
}

.join__input {
  margin-top: 32px;
  width: 100%;
}

.join__input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(25, 48, 64, 0.25);
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  letter-spacing: 0.02em;
  color: #193040;
  height: 48px;
}

.join__input input::-webkit-input-placeholder {
  color: #193040;
  opacity: 0.5;
}

.join__input input::-moz-placeholder {
  color: #193040;
  opacity: 0.5;
}

.join__input input:-moz-placeholder {
  color: #193040;
  opacity: 0.5;
}

.join__input input:-ms-input-placeholder {
  color: #193040;
  opacity: 0.5;
}

.join__link {
  font-size: 10px;
  letter-spacing: 0.02em;
  color: #526470;
  opacity: 0.75;
  line-height: 14px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
}

.join__link a {
  color: #2595df;
  font-weight: normal;
}

.join__link--big {
  font-size: 16px;
  line-height: 24px;
}

.join__input--email input {
  box-sizing: border-box;
  color: #526470;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-bottom: none;
  border: 1px solid #d1d6d9;
  border-radius: 8px;
}

/*---------------------
       VERIFY
---------------------*/

.verify_title {
  text-align: center;
  width: 100%;
  color: #193040;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  word-wrap: break-word;
}

.verify__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 8px;
  border: 1px solid rgba(25, 48, 64, 0.1);
  width: 100%;
  height: 48px;
  margin-top: 34px;
  position: relative;
}

.verify__input input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 24px;
  color: #526470;
  letter-spacing: 1em;
  text-align: center;
}

.verify__input input::placeholder {
  color: #d1d6d9;
}

.verify__input span {
  position: absolute;
  top: 5px;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.38);
  text-align: center;
  width: 100%;
}

.verify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.verify .btn__send {
  margin-top: 30px;
  margin-bottom: 36px;
}

.verify__describe {
  font-size: 16px;
  line-height: 20px;
  width: 90%;
  text-align: center;
  color: #4f5d73;
  margin-bottom: 0px;
}

/*---------------------
       DETAIL
---------------------*/

.detail_inputText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 16px;
}

.detail_inputText p {
  font-size: 10px;
  letter-spacing: 0.02em;
  color: #526470;
}

.detail_inputText input {
  border: 1px solid rgba(25, 48, 64, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  padding-left: 15px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #526470;
}

.detail__describtion {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #526470;
  margin-top: 25px;
  margin-bottom: 25px;
}

.detail .detail__input {
  margin-bottom: 27px;
}

.detail .btn__send {
  margin-top: 10px;
  margin-bottom: 27px;
}

.detail .btn__pay {
  margin-top: 27px;
  margin-bottom: 68px;
}

/*---------------------
       processing
---------------------*/

.processing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.processing .loading {
  width: 250px;
}

.processing .loading__okay {
  display: none;
}

.processing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.processing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.processing__item p {
  letter-spacing: 0.02em;
  opacity: 0.5;
}

.processing__item a {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2595df;
}

.processingResult {
  margin-top: 57px;
  display: none;
}

.processing__item:last-child {
  margin-bottom: 127px;
}

.processing__item:last-child p {
  opacity: 1;
}

.processing__title {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 34px;
  margin-top: 25px;
  display: none;
}

/*---------------------
       PROCEED
---------------------*/

.proceed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.proceed img {
  margin-top: 80px;
}

.proceed__title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.proceed__descibe {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px;
}

/*---------------------
       INFORMATION
---------------------*/

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.information__title {
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.information__descibe {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: 31px;
}

.information__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;
  position: relative;
}

.information__input input {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  border-bottom: 1.25px solid #d1d6d9;
  margin-top: 27px;
  margin-bottom: 20px;
}

.information__input span {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.information__link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #526470;
  opacity: 0.75;
  text-align: center;
  line-height: 24px;
  margin-bottom: 5px;
}

.information__link a {
  color: #2595df;
}

/*---------------------
        SEND
---------------------*/

.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.send img {
  margin-top: 30px;
}

.send__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

.send__descibe {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 12px;
  margin-bottom: 35px;
}

.btn__send {
  font-weight: normal;
}

.btn__send span {
  font-weight: normal;
}

/*---------------------
        Transaction
---------------------*/

.transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.transaction img {
  margin-top: 30px;
}

.transaction .transaction__title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 115px;
  margin-bottom: 50px;
  text-align: center;
}

.transaction p {
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: left;
}

.transaction p span {
  font-size: 16px;
  font-weight: bold;
}

.transaction a {
  color: #2595df;
  text-decoration: underline;
  margin-bottom: 70px;
}

.transaction .transaction__describtion {
  margin-bottom: 70px;
}

.transaction .line__grey {
  width: calc(100% + 80px);
  margin-left: -40px;
}

.transaction__politic {
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  margin-left: -20px;
  margin-top: 23px;
}

.transaction__politic a {
  color: #000000;
  text-decoration: underline;
}

.transaction .transaction__email {
  margin-top: 40px;
  margin-bottom: 140px;
}

.transaction .transaction__center {
  text-align: center;
  width: 100%;
}

.card__input {
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.card__input input {
  text-align: center;
  width: 100%;
  background: inherit;
  z-index: 99;
  color: #526470;
  letter-spacing: 0.02em;
}

/*---------------------
      expires
---------------------*/

.expires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.expires__title {
  font-size: 10px;
  letter-spacing: 0.02em;
  color: #526470;
}

.expires_data,
.expires_cvc {
  width: 48%;
}

.expires_cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.expires .user__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expires .user__input input {
  width: 50%;
  height: 100%;
  padding: 0px 10px 0px 10px;
  color: #526470;
  letter-spacing: 0.02em;
  opacity: 0.5;
  text-align: center;
}

.expires .user__input .expires__mm {
  opacity: 1;
}

.expires .user__input .expires__slesh {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #526470;
}

.expires .user__input .expires__cvc {
  width: 100%;
}

.site-header {
  padding: 48px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  display: block;
}

.site-header__nav-wrapper {
}

.site-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #193040;
  display: flex;
}

.site-header__nav-item {
  margin-right: 34px;
}

.site-header__nav-item:last-child {
  margin-right: 0;
}

.site-header__nav-link {
  color: inherit;
}

.site-header__nav-link_green {
  color: #1ec038;
}

@keyframes fall {
  from {
    transform: translateY(-300%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.site-content {
  flex-grow: 1;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site-content__widget-wrapper {
  width: 100%;
  max-width: 400px;
  animation: fall 1.5s linear;
}

.site-content__feature-wrapper {
  max-width: 264px;
  position: relative;
}

.site-content__feature-wrapper::after {
  content: "";
  position: absolute;
  width: 148px;
  height: 146px;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-content__feature-wrapper_first {
  margin-top: 68px;
}

.site-content__feature-wrapper_first::after {
  top: calc(100% + 28px);
  left: calc(100% - 22px);
  background-image: url("../img/left-line.svg");
}

.site-content__feature-wrapper_last {
  order: 2;
  align-self: flex-end;
  margin-bottom: 194px;
}

.site-content__feature-wrapper_last::after {
  bottom: calc(100% - 14px);
  right: calc(100% - 22px);
  background-image: url("../img/right-line.svg");
}

.site-content__feature-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #193040;
}

.site-content__feature-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #193040;
  opacity: 0.75;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 88px 96px;
}

.site-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #193040;
}

.site-footer__item {
  margin-right: 48px;
}

.site-footer__item:last-child {
  margin-right: 0;
}

.site-footer__link {
  color: inherit;
  opacity: 0.5;
}

.site-footer__link_disabled {
  opacity: 0.25;
}

.site-footer__privacy,
.site-footer__empty {
  min-width: 150px;
}

.site-footer__privacy {
  font-size: 10px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #193040;
  opacity: 0.5;
}

@media (max-width: 1439px) {
  .site-content__feature-wrapper_first::after {
    left: 60%;
  }

  .site-content__feature-wrapper_last::after {
    right: 60%;
  }
}

@media (max-width: 1279px) {
  .site-content__feature-wrapper_first::after {
    left: 40%;
  }

  .site-content__feature-wrapper_last::after {
    right: 40%;
  }
}

@media (max-width: 1209px) {
  .site-header,
  .site-footer,
  .site-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .site-content {
    flex-direction: column;
    align-items: center;
  }

  .site-content__feature-wrapper_first {
    margin-bottom: 200px;
    margin-top: 0;
  }

  .site-content__feature-wrapper_first::after {
    background-image: url("../img/right-line.svg");
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
  }

  .site-content__feature-wrapper_last {
    align-self: center;
    margin-top: 200px;
    margin-bottom: 0;
  }

  .site-content__feature-wrapper_last::after {
    bottom: calc(100% + 50px);
    right: 50%;
    transform: translateX(50%) rotate(180deg);
  }

  .site-footer {
    flex-direction: column;
  }

  .site-footer__privacy {
    order: 2;
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .site-header {
    align-items: flex-start;
  }

  .site-header__nav-list {
    flex-direction: column;
  }

  .site-header__nav-item {
    margin-bottom: 2px;
    margin-right: 0;
    text-align: right;
  }

  .site-header__nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .site-content__feature-wrapper {
    max-width: 100%;
  }

  .site-content__feature-wrapper_last {
    margin-top: 40px;
  }

  .site-content__feature-wrapper_last::after {
    display: none;
  }

  .site-content__feature-wrapper_first {
    margin-bottom: 40px;
  }

  .site-content__feature-wrapper_first::after {
    display: none;
  }

  .site-content__widget-wrapper {
    animation: none;
  }

  .site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .site-footer__list {
    flex-direction: column;
    text-align: center;
  }

  .site-footer__item {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .widget__wrapper {
    padding: 15px;
  }
  .widget__section {
    width: 100%;
  }
  .buy__card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .buy__card img {
    display: block;
    margin: 0;
    margin-top: 10px;
  }
}

@media (max-width: 540px) {
  .buy__hint-icon-box {
    transform: none;
    right: auto;
    position: relative;
    margin-top: 13px;
  }
  .buy__hint {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .nf-widget-title {
    word-break: break-all;
  }
  .nf-input-row {
    display: block;
  }
  .nf-input-row button {
    margin-right: 0px;
  }
  .expires {
    display: block;
  }
  .expires_data {
    width: 100%;
  }
  .expires_cvc {
    width: 100%;
  }
  .expires__title {
    text-align: left;
  }
  .expires_cvc {
    align-items: start;
    margin-top: 16px;
  }
}
